extends ./layout.jade

block brand
  h1.brand
    a(href=site).company FLOKK
    // small.slogan DESIGN YOUR LIFE. UP TO 70% OFF.

block topmenu
  mixin label(name, icon)
    label(for='handler-#{name}').btn.btn-primary
      i(class="icon-#{icon}")
  +label("primary", "tag")
  +label("secondary", "cart")

block sidenav-handlers
  mixin checkbox(name)
    input(type="checkbox"
          name="handler-#{name}"
          id="handler-#{name}"
          onclick="null").handler
  +checkbox("primary")
  +checkbox("secondary")

block sidenav-contents
  mixin sidenav(cont, partial, name)
    nav(data-ng-controller=cont
        src=partial
        class="sidenav sidenav-#{name}"
        data-ng-include)
  +sidenav("NavController", "/partials/nav.nghtml", "primary")
  +sidenav("SecondaryNavController", "/partials/secondary-nav.nghtml", "secondary")

block content
  div(data-ng-view).content

block prepend scripts
  script(async
         src="https://js.balancedpayments.com/v1/balanced.min.js"
         onload="balanced.init('#{balanced}')")
  script(src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1.1/sockjs.min.js")
  script(src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js")
