extends ./layout.jade

block nav
  nav(data-ng-controller="NavController"
      data-ng-include
      src="'/partials/nav.nghtml'")

block secondary-nav
  nav(data-ng-controller="SecondaryNavController"
      data-ng-include
      src="'/partials/secondary-nav.nghtml'").secondary-nav
  
block content
  div(data-ng-view)

block prepend scripts
  script(async
         src="https://js.balancedpayments.com/v1/balanced.min.js"
         onload="balanced.init('#{balanced}')")
  script(src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1.1/sockjs.min.js")
  script(src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js")
